<div class="container mt-5">
  <div class="row">
    <div class="profile col-lg-3">
      <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid">
      <div class="profile-name">John Doe</div>
      <div>joed</div>
      <div class="profile-description mt-4">Enthusiast Software Developer, who makes the web fast, pleasant and useful</div>
      <a href="javascript:void(0)" class="edit-profile">Edit Profile</a>
    </div>

    <div class="col-lg-9">
      <div class="col-lg-12 mb-3">
        <div class="row">
          <div class="search-container col-lg-5">
            <input type="text" placeholder="Find a repository.." class="form-control">
          </div>
          <div class="col-lg-5">
            <div class="filters">
              <select name="type" id="type" class="form-select mr-1">
                <option value="">Type</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
              </select>
              <select name="language" id="language" class="form-select">
                <option value="">Language</option>
                <option value="javascript">JavaScript</option>
                <option value="typescript">TypeScript</option>
              </select>
              <select name="sort" id="sort" class="form-select">
                <option value="">Sort</option>
                <option value="latest">Latest</option>
                <option value="oldest">Oldest</option>
              </select>
            </div>
          </div>
          <button class="btn btn-success col-lg-1 d-md-flex flex-md-items-center flex-md-justify-end">
            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
              class="octicon octicon-repo">
              <path
                d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
              </path>
            </svg>
            New</button>
        </div>
      </div>

      <ul class="repo-list">
        <li class="repo-item row">
          <div class="left col-10">
            <div class="repo-title">
              <div class="repo-name">Repository Name
              </div>
              <small class="public">Public</small>
            </div>
            <div class="repo-description">Description of the repository goes here.</div>
            <div class="repo-tags">
              <span class="tag">HTML</span>
              <span class="tag">CSS</span>
              <span class="tag">TypeScript</span>
            </div>
            <div class="repo-details ">
              <span class="langage mr-5">
                <span class="langage-color"></span>
                💙TypeScript
              </span>
              <span class="ml-3">
                updated 30 minutes ago </span>
            </div>
          </div>
          <div class="right col-2">
            <div class="star">
              <span class="far fa-star mr-3"></span>
              <span>Star</span>
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  ...
                </ul>
              </div> -->
            </div>
          </div>
        </li>
        <li class="repo-item row">
          <div class="left col-10">

            <div class="repo-title">
              <div class="repo-name">Repository Name
              </div>
              <small class="private">Private</small>
            </div>
            <div class="repo-description">Another repository description.</div>
            <div class="repo-tags">
              <span class="tag">JavaScript</span>
              <span class="tag">React</span>
            </div>
            <div class="repo-details ">
              <span class="langage mr-5">
                🤎Java
              </span>
              <span class="ml-3">
                updated 1 week ago
              </span>
            </div>
          </div>
          <div class="right col-2">
            <span>✡</span>
          </div>
        </li>
        <!-- Add more repo items as needed -->
      </ul>
    </div>

  </div>
</div>
