<div class="container-fluid mt-5">
  <div class="row">
    <div class="profile col-lg-3">
      <img src="https://via.placeholder.com/150" alt="Profile Picture">
      <div class="profile-name">John Doe</div>
      <div class="profile-description">Enthusiast Software Developer, who makes the web fast, pleasant and useful</div>
      <a href="#" class="edit-profile">Edit Profile</a>
    </div>

    <div class="col-lg-9">

      <ul class="repo-list">
        <li class="repo-item row">
          <div class="left col-10">
            <div class="repo-title">
              <div class="repo-name">Repository Name
              </div>
              <small class="public">Public</small>
            </div>
            <div class="repo-description">Description of the repository goes here.</div>
            <div class="repo-tags">
              <span class="tag">HTML</span>
              <span class="tag">CSS</span>
              <span class="tag">TypeScript</span>
            </div>
            <div class="repo-details ">
              <span class="langage mr-5">
              💙TypeScript
              </span>
              <span class="ml-3">
                updated 30 minutes ago              </span>
            </div>
          </div>
          <div class="right col-2">
            <span>✡</span>
          </div>
        </li>
        <li class="repo-item row">
          <div class="left col-10">

            <div class="repo-title">
              <div class="repo-name">Repository Name
              </div>
              <small class="private">Private</small>
            </div>
            <div class="repo-description">Another repository description.</div>
            <div class="repo-tags">
              <span class="tag">JavaScript</span>
              <span class="tag">React</span>
            </div>
            <div class="repo-details ">
              <span class="langage mr-5">
                🤎Java
              </span>
              <span class="ml-3">
                updated 1 week ago
              </span>
            </div>
          </div>
          <div class="right col-2">
            <span>✡</span>
          </div>
        </li>
        <!-- Add more repo items as needed -->
      </ul>
    </div>

  </div>
</div>
