<div style="padding: 0 16px;position: relative;
overflow-x: hidden; margin-top: -7rem; padding-bottom: 3rem;">
  <div class="campaign__container">
    <div class="campaign__wrapper">
      <div class="campaign__left">
        <div class="circle__container">
          <div class="circle__dot"></div>
        </div>
        <div class="line" style="background: one"></div>
        <div class="bracket__container">
          <div class="bracket__wrapper">
            <img src="assets/media/icons/bracket.svg" alt="Bracket">
            <div class="bracket__shadow"></div>
          </div>
        </div>
        <div class="line" style="background: two"></div>
      </div>
      <div class="campaign__right">
        <div class='campaign__image'>
        </div>
        <div class="right-top-space"></div>
        <h2 class="top-word-first">
          <span>
            Over 100 million developers call GitHub home</span>
        </h2>
        <p class="top-word-second">
          Whether you’re scaling your startup or just learning how to code, GitHub is your home. Join the world’s
          largest developer platform to build the innovations that empower humanity. Let’s build from here
        </p>
        <div class="top-button-wrapper">
          <form class="signup-button-container">
            <div class="signup-button-wrapper">
              <div class="email-signup-wrapper">
                <input class="email-signup-input" placeholder="Email address">
              </div>
              <button type="button" class="email-signup-button">
                Sign up for GitHub
              </button>
            </div>
          </form>
          <div class="top-button-separator"></div>
          <a href="#" class="trial-button decoration-none">
            Start a free enterprise trial
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill="currentColor"
                d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z">
              </path>
              <path stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
