<section class="p-0 bg-img cover-background" style="background: linear-gradient(rgb(76, 78, 76), rgb(162, 103, 207));">
  <div class="container-fluid d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-md-9 col-lg-6 my-5">
        <div class="text-center error-page">
          <h1 class="mb-0 text-light">404</h1>
          <h2 class="mb-4 text-white">User or Repository not found</h2>
          <p class="w-sm-80 mx-auto mb-4 text-white">This page is incidentally inaccessible because of support. We
            don't find your repository</p>
          <div>
            <a routerLink="/" class="btn btn-dark btn-lg me-sm-2 mb-2 mb-sm-0 cursor-pointer">Return Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>