<div class='navbar__menu-desktop'>
  <div class='navbar__menu-left'>
    <a href='/'>
      <img class='github__logo' src='assets/media/images/logo.svg' alt='GitHub Logo' />
    </a>
    <ul>
      <li class="mt-3">
        <p class="nav-menu mt-3">Product</p>
        <img class='down-arrow' src='assets/media/images/arrow.svg' alt='arrow' />
        <div class='navbar__menu-links first'>
          <div class='product__left'>
            <div class='sidebar__links-container'>
              <ul class='sidebar__links-top'>
                <li>
                  <div style='width: 24px; height: 24px;'>
                    <img src='assets/media/images/actions.svg' alt='Action' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Actions</div>
                    <div>Automate any workflow</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px; margin-bottom: 1px;'>
                    <img src='assets/media/images/packages.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Packages</div>
                    <div>Host and manage packages</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px;'>
                    <img src='assets/media/images/security.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Security</div>
                    <div>Find and fix vulnerabilities</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px; margin-bottom: 1px;'>
                    <img src='assets/media/images/codespaces.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Codespaces</div>
                    <div>Instant dev environments</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px;'>
                    <img src='assets/media/images/copilot.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Copilot</div>
                    <div>Write better code with AI</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px; margin-bottom: 1px;'>
                    <img src='assets/media/images/code-review.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Code review</div>
                    <div>Manage code changes</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px;'>
                    <img src='assets/media/images/issues.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Issues</div>
                    <div>Plan and track work</div>
                  </div>
                </li>
                <li>
                  <div style='width: 24px; height: 24px; margin-bottom: 1px;'>
                    <img src='assets/media/images/discussions.svg' alt='Packages' />
                  </div>
                  <div class='sidebar__link-info'>
                    <div>Discussions</div>
                    <div>Collaborate outside of code</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class='product__right'>
            <div class='sidebar__links-bottom'>
              <div>Explore</div>
              <ul>
                <li style='height: 33.5px;'>
                  <p>All features</p>
                </li>
                <li style='height: 34.25px;'>
                  <p>Documentation</p>
                  <img src='assets/media/images/open-link.svg' alt='Open Link' />
                </li>
                <li style='height: 34.25px;'>
                  <p style='margin-bottom: 1px;'>GitHub Skills</p>
                  <img src='assets/media/images/open-link.svg' alt='Open Link' />
                </li>
                <li style='height: 34.25px;'>
                  <p style='margin-bottom: 1px;'>Blog</p>
                  <img src='assets/media/images/open-link.svg' alt='Open Link' />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="mt-3">
        <p class="nav-menu mt-3">Solutions</p>
        <img class='down-arrow' src='assets/media/images/arrow.svg' alt='arrow' />
        <div class='navbar__menu-links second'>
          <div class='solutions__container-navbar'>
            <div class='solutions__container'>
              <div class='solutions__wrapper'>
                <div>For</div>
                <ul>
                  <li>
                    <p>Enterprise</p>
                  </li>
                  <li>
                    <p>Teams</p>
                  </li>
                  <li>
                    <p>Startups</p>
                  </li>
                  <li style='height: 34.25px;'>
                    <p>Education</p>
                    <img src='assets/media/images/open-link.svg' alt='Open Link' />
                  </li>
                </ul>
              </div>
              <div class='solutions__wrapper'>
                <div>By Solution</div>
                <ul>
                  <li>
                    <p>CI/CD & Automation</p>
                  </li>
                  <li style='height: 34.25px;'>
                    <p>DevOps</p>
                    <img src='assets/media/images/open-link.svg' alt='Open Link' />
                  </li>
                  <li style='height: 34.25px;'>
                    <p>DevSecOps</p>
                    <img src='assets/media/images/open-link.svg' alt='Open Link' />
                  </li>
                </ul>
              </div>
              <div class='solutions__wrapper' style='padding-bottom: 0; margin-bottom: 0; border-bottom: none;'>
                <div>Resources</div>
                <ul>
                  <li>
                    <p style='height: 34.25px;'>Learning Pathways</p>
                    <img src='assets/media/images/open-link.svg' alt='Open Link' />
                  </li>
                  <li>
                    <p style='height: 34.25px;'>White papers, Ebooks, Webinars</p>
                    <img src='assets/media/images/open-link.svg' alt='Open Link' />
                  </li>
                  <li>
                    <p>Customer Stories</p>
                  </li>
                  <li>
                    <p style='height: 34.25px;'>Partners</p>
                    <img src='assets/media/images/open-link.svg' alt='Open Link' />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="mt-3">
        <p class="nav-menu mt-3">Open Source</p>
        <img class='down-arrow' src='assets/media/images/arrow.svg' alt='arrow' />
        <div class='navbar__menu-links third'>
          <div class='source__container-navbar'>
            <div class='source__container'>
              <div class='source__top'>
                <ul>
                  <li>
                    <div>
                      <p>GitHub Sponsors</p>
                      <p>Fund open source developers</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class='source__top'>
                <ul>
                  <li>
                    <p>The ReadME Project</p>
                    <p>GitHub community articles</p>
                  </li>
                </ul>
              </div>
              <div class='source__bottom'>
                <p>Repositories</p>
                <ul>
                  <li>Topics</li>
                  <li>Trending</li>
                  <li>Collections</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="mt-3">
        <p class="nav-menu mt-3">Pricing</p>
      </li>
    </ul>
  </div>
  <div class='navbar__menu-right'>
    <div class='navbar__search-container'>
      <div class='navbar__search-wrapper' onclick='setOpenSearch(!openSearch)'>
        <div class='navbar__search-icon'>
          <img src='assets/media/images/search.svg' alt='search' />
        </div>
        <span>Search or jump to...</span>
        <img src='assets/media/images/slash.svg' alt='slash' />
      </div>
    </div>
    <a href='/login' class='navbar__signin'>
      Sign in
    </a>
    <a href='/signup' class='navbar__signup'>
      Sign up
    </a>
  </div>
</div>
