/* You can add global styles to this file, and also import other style files */

@import url(./assets/layout/index.scss);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cursor-pointer {
  cursor: pointer !important;
}

.mr-2 {
  margin-right: .5rem;
}
.ml-2 {
  margin-left: .5rem;
}
.mt-2 {
  margin-top: .5rem;
}
.mb-2 {
  margin-bottom: .5rem;
}
